@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

//VARIABLES
$height: 4vw;
$width: 5vw;


//GENERAL
*{
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif !important;

  //border: none !important;
}

*,*::after,*::before{
  outline: none !important;
}


//MAIN
body{
  

  main{
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #F7DC6F;
  }

  #instructions-wrapper{
    width: 100%;
    padding: 80px 0 40px 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    #instructions{
      font-size: 2rem;
      
      span{
        font-weight: 700;
        text-transform: capitalize;
      }
    }
  }

  #input{
    width: 100%;
    position: relative;

    *{
      border-radius: 10px;
      height: 60px;
      width: 500px;
      border: 2px solid rgb(209, 43, 24);
    }

    input{
      position: absolute;
      top: -12px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 20px;
      font-size: 1.3rem;
      font-weight: 700;
      color: white;
      background-color: rgb(236, 112, 99);
    }

    .side{
      margin: 0 auto;
      background-color: rgb(231, 76, 60 );
    }
  }

  .container{
    position: absolute;
    bottom: 3%;
    width: 100%;

    .line{
      margin: 0 auto;
      width: 70%;
      margin-bottom: 2vw;
      display: flex;
      justify-content: space-between;
    }
  }
}

.btn-space{
  margin: 0 auto;
}

.btn{
  position: relative;

  .key{
    position: absolute;
    top: -12px;
    left: 0;
    z-index: 5;
    height: $height;
    width: $width;
    
    background-color: lightblue;
    border: 2px solid #368aa7;
    border-radius: 10px;

    font-size: 1rem;
    font-weight: 700;

    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
    transition-property: all;

    &:hover{
      cursor: pointer;
    }
  }

  .side{
    position: relative;
    z-index: 4;
    height: $height;
    width: $width;
    background-color: #5faec9;
    border: 2px solid #368aa7;
    border-radius: 10px;
  }

  .shadow{
    position: absolute;
    z-index: 3;
    top: 8px;
    left: 50%;
    transform: translateX(-50%);
    height: $height;
    width: $width - 1;
    background-color: rgba(54, 139, 167, 0.4);
    border-radius: 10px;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }

  &:hover{
    cursor: pointer;

    button{
      top: -7px;
    }

    .shadow{
      top: 6px;
    }
  }

  &:active{
    cursor: pointer;

    button,.shadow{
      top: 0;
    }
  }
}

.key-pressed{
  animation: key-press 200ms linear;
  animation-fill-mode: forwards;
}

.key-released{
  animation: key-release 200ms linear;
  animation-fill-mode: forwards;
}

@keyframes key-press{
  100%{
    top: 0px;
  }
}




//MOBILE INCOMPATIBLE

#mobile-incompatible{
  display: none;

  .text-wrapper{
    height: 100vh;
    width: 100%;
    background-color: #F7DC6F;
    display: flex;
    justify-content: center;
    align-items: center;

    p{
      padding: 20px;
      text-align: center;
      font-size: 2rem;
      line-height: 2.5rem;

      span{
        font-weight: 700;
      }
    }
  }
}


@media screen and (max-width:1000px){
  main{
    display: none;
  }

  #mobile-incompatible{
    display: unset;
  }
}