#mobile-incompatible
  .text-wrapper
    p
      | This pen is not compatible on small displays. 
      br
      br
      |  Please view on a larger screen or change the view to 
      br
      span &apos;Full Page View&apos;
      |  on CodePen.
main
  #instructions-wrapper
    p#instructions
      span type 
      |  from your keyboard or
      span  click 
      |  the keys to enter text
  #input
    input#inp(type='text')
    .side
  .container
    .line
      .btn
        button.key.key-tab tab
        .side.side-tab
        .shadow.shadow-tab
      .btn
        button.key.key-q(onclick="input('q')") q
        .side
        .shadow.shadow-q
      .btn
        button.key.key-w(onclick="input('w')") w
        .side
        .shadow.shadow-w
      .btn
        button.key.key-e(onclick="input('e')") e
        .side
        .shadow.shadow-e
      .btn
        button.key.key-r(onclick="input('r')") r
        .side
        .shadow.shadow-r
      .btn
        button.key.key-t(onclick="input('t')") t
        .side
        .shadow.shadow-t
      .btn
        button.key.key-y(onclick="input('y')") y
        .side
        .shadow.shadow-y
      .btn
        button.key.key-u(onclick="input('u')") u
        .side
        .shadow.shadow-u
      .btn
        button.key.key-i(onclick="input('i')") i
        .side
        .shadow.shadow-i
      .btn
        button.key.key-o(onclick="input('o')") o
        .side
        .shadow.shadow-o
      .btn
        button.key.key-p(onclick="input('p')") p
        .side
        .shadow.shadow-p
      .btn
        button.key.key-bck backspace
        .side.side-bck
        .shadow.shadow-bck
    .line
      .btn
        button.key.key-caps caps lock
        .side.side-caps
        .shadow.shadow-caps
      .btn
        button.key.key-a(onclick="input('a')") a
        .side
        .shadow.shadow-a
      .btn
        button.key.key-s(onclick="input('s')") s
        .side
        .shadow.shadow-s
      .btn
        button.key.key-d(onclick="input('d')") d
        .side
        .shadow.shadow-d
      .btn
        button.key.key-f(onclick="input('f')") f
        .side
        .shadow.shadow-f
      .btn
        button.key.key-g(onclick="input('g')") g
        .side
        .shadow.shadow-g
      .btn
        button.key.key-h(onclick="input('h')") h
        .side
        .shadow.shadow-h
      .btn
        button.key.key-j(onclick="input('j')") j
        .side
        .shadow.shadow-j
      .btn
        button.key.key-k(onclick="input('k')") k
        .side
        .shadow.shadow-k
      .btn
        button.key.key-l(onclick="input('l')") l
        .side
        .shadow.shadow-l
      .btn
        button.key.key-enter enter
        .side.side-enter
        .shadow.shadow-enter
    .line
      .btn
        button.key.key-shift shift
        .side.side-shift
        .shadow.shadow-shift
      .btn
        button.key.key-z(onclick="input('z')") z
        .side
        .shadow.shadow-z
      .btn
        button.key.key-x(onclick="input('x')") x
        .side
        .shadow.shadow-x
      .btn
        button.key.key-c(onclick="input('c')") c
        .side
        .shadow.shadow-c
      .btn
        button.key.key-v(onclick="input('v')") v
        .side
        .shadow.shadow-v
      .btn
        button.key.key-b(onclick="input('b')") b
        .side
        .shadow.shadow-b
      .btn
        button.key.key-n(onclick="input('n')") n
        .side
        .shadow.shadow-n
      .btn
        button.key.key-m(onclick="input('m')") m
        .side
        .shadow.shadow-m
      .btn
        button.key.key-qu(onclick="input('?')") ?
        .side
        .shadow.shadow-qu
      .btn
        button.key.key-shift shift
        .side.side-shift
        .shadow.shadow-shift
    .line
      .btn.btn-space
        button.key.key-space(onclick="input(' ')") space
        .side.side-space
        .shadow.shadow-space
